---
layout: post
title: Black Socialists Resource Guide
permalink: /bsrg/
author: Black Socialists in America
---

<div class="message"><b>
    This page is copied verbatim from the
    <a href="https://blacksocialists.us/resource-guide">BSA Resource Guide</a>
    and is here only to render better on e-readers and other
    low resource browsers.
</b></div>

{% for section in site.data.bsrg %}
<h1>{{ section.header }}</h1>
{{ section.info | markdownify }}

<ol>
    {% for link in section.links %}
    {% if link.header %}
    <h3>{{link.header | escape}}</h3>
    {% else %}
    <li style="padding-bottom:0.7em; ">
        <a target="_blank"
           rel="noopener noreferrer"
           href="{{link.url}}">
        {{link.title | escape}}
        {% if link.author %}
        &mdash; <i>{{link.author | escape}}</i>
        {% endif %}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ol>
{% endfor %}
