<head>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>
    {% if page.title == "Home" %}
        {{ site.title }}
    {% else %}
        {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>

    <!-- Metadata -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png">
    <!-- Theme Color for Chrome on Android Lollipop -->
    <meta name="theme-color" content="#{% if page.theme_color %}{{ page.theme_color }}{% else %}{{ site.theme_color }}{% endif %}">
</head>
