$header-size: 33vh;

.top-level-header {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: $header-size;
}

.header-image {
    background-image: url("/assets/images/cover.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: $header-size;
}
