.top-level-header {
    background-image: url("/assets/images/cover.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 30vh;
}
