@import url(default.css);

#post-info {
	position: absolute;
	width: 32%;
	bottom: 0;
	margin-bottom: 12px;
	left: 5%;
	padding: 20px;
}

#post-info h1 {
	font-weight: bold;
	font-size: 44px;
	margin: 0;
}

#home-title {
	position: absolute;
	height: 100%;
	width: 32%;
	top: 25px;
	left: 15px;
	text-align: right;
}

#home-title h1 {
	font-size: 60px;
	margin: 5px 0;
}

#home-title h2 {
	font-size: 35px;
	margin: 5px 0;
}

#home-title h3 {
	font-size: 30px;
	position: absolute;
	/*margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;*/
	bottom: 20px;
	color: #ddd;
}

#article {
	width: 700px;
	padding: 50px 0px;
	left: 50%;
	margin-left: -350px;
}

#bg-video {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	overflow: hidden;
}

.pagination, #post-list {
	width: 700px;
	left: 50%;
	margin-left: -350px;
}

.copyright {
	/* right: 20px; */
	display: none;
}

#nav-icon {
	bottom: 80px;
}

#following_menu {
	width: 100% !important;
	height: 45px !important;
}

#following_menu_container {
	display: block !important;
}

#following_social_container {
	display: block !important;
}
