---
layout: toplevel
---

<div class="article animated fadeIn {{ page.mode }}">
    <div class="post-title-container">
        <h1 class="post-title"><b>{{ page.title }}</b></h1>
        <p></p>
        <div class="post-list-tags">
            {% include tags.html tags=page.tags %}
        </div>
    </div>

    {{ content }}

    <br/>
    <div class="post-footer">
        <p>
          {% if page.author %}
            &mdash; {{ page.author }}
          {% else %}
            {{ site.signature }}
          {% endif %}
        </p>

        <div class="social">
            <p>Subscribe:</p>
            <a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
            <a href="https://github.com/illegalprime/">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="xmpp:illegalprime@fysh.in?message">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <hr>

    <br/>
    <!-- Disqus Comments Box -->
    <h2><b>Say It Loud! Leave a comment below:</b></h2>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ page.url | replace:'index.html','' }}";
            this.page.identifier = "{{ page.url | replace: '/','_' }}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//icanteden.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Enable JavaScript to view comments.</noscript>
</div>
