@font-face {
	font-family: Edwardian;
	src: url(/assets/fonts/ITCEDSCR.TTF);
}

#article.story > h1 + p::first-line {
	font-style: italic;
}

#article.story > h1 + p::first-letter {
	font-size: 300%;
	font-family: Edwardian;
	line-height: 50%;
	font-style: normal;
}